<html>
    <head>
        <!-- Include this CDN for using icons     -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="container-fluid">
        <div>
            <section class="nav">
                <div class="logo">
                    <a href="#" class="company-title"><i class="fas fa-bank color-red"></i>SOCIETE GENERALE</a>
                </div>
                <!--  main menu    -->
                <ul class="menu menu-font">
                    <li> <a  (click)="navigateToServices()">Services</a></li>
                    <li><a (click)="navigateToAboutUS()">About Us</a></li>
                    <li><a href="#home">Home</a></li>
                </ul>
            </section>
        </div>
    </body>
</html>
