<div>
    <app-header-details></app-header-details>
</div>
<div class="padding-top-20">
    <h2 class="d-flex justify-content-center">Société Générale</h2>
    <div>
        <p class="container-margin-3">
            Société Générale S.A. , colloquially known in English speaking countries as SocGen, is a French-based multinational financial services company founded in 1864, registered in downtown Paris and headquartered nearby in La Défense.
            Société Générale is France's third largest bank by total assets after BNP Paribas and Crédit Agricole. It is also the sixth largest bank in Europe and the world's eighteenth. It is considered to be a systemically important bank by the Financial Stability Board.
            From 1966 to 2003 it was known as one of the Trois Vieilles ("Old Three") major French commercial banks, along with Banque Nationale de Paris (from 2000 BNP Paribas) and Crédit Lyonnais.
        </p>
        <div class="margin-top">
            <h5 class="bg-white d-flex justify-content-center">Products & Services</h5>
            <p class="container-margin-3 container-1-bg rounded">
                Société Générale's three pillars, at the heart of the development of its relationship banking model, are:

                Retail Banking in France (Société Générale, Crédit du Nord and Boursorama)
                International Banking and Financial Services (IBFS)
                Corporate and Investment Banking (SG CIB), with investment banking and fixed income, structured financing, debt and forex activities on the one side, and equity and consulting activities on the other.
                The development of these three pillars is backed by two other core activities, namely:
                
                Specialised Financial Services & Insurance
                Private Banking, Global Investment Management & Services.
            </p>
        </div>
        <div class="margin-top">
            <h5 class="bg-white d-flex justify-content-center">History</h5>
            <p class="container-margin-3 container-1-bg rounded">
                The bank was founded by a group of industrialists and financiers during the Second Empire on 4 May 1864. Its full name was Société Générale pour favoriser le développement du commerce et de l'industrie en France ("General Company to Support the Development of Commerce and Industry in France"). The bank's first chairman was the prominent industrialist Eugène Schneider, followed by Edward Charles Blount. By 1870, the bank had 47 branches throughout France, including 15 in Paris. It set up a permanent office in London in 1871.
            </p>
        </div>
    </div>
</div>