<html>
    <div>
        <app-header-details></app-header-details>
    </div>
    <div class="padding-top-20">
        <h3 class="d-flex justify-content-center">Credit card services</h3>
        <div class="justify-content-center padding-top-20 container-width-80">
            <div class="container-fluid container-1-bg rounded">
                <h5>Pay Credit Card bills</h5>
                <p>
                    To ensure you are always on top of Credit Card bills, there are multiple options to seamlessly and swiftly clear credit dues via online or offline channels at zero cost. Cardholders shall be provided a one-time option in the lifetime of the card to modify the billing cycle of their Xyz Bank Credit Card as per their convenience. This option will be available to both - existing and new credit card customers. Easy ways to pay Xyz Bank Credit Card bills:</p>
            </div>
    
            <div class="container-fluid container-2-bg rounded">
                <h5>Credit Card Upgrade</h5>
                <p>
                    Want to enjoy more benefits and better features? You can now upgrade your XYZ Bank Credit Card through XYZ Bank NetBanking or fill and submit the Credit Card upgrade application.</p>
            </div>

            <div class="container-fluid container-1-bg rounded">
                <h5>Autopay</h5>
                <p>
                    You don't ever have to worry about forgetting the due date on your Credit Card bills. Our convenient automatic bill payment facility ensures that every Credit Card bill is paid on time.</p>
            </div>

            <div class="container-fluid container-2-bg rounded">
                <h5>Change PIN</h5>
                <p>
XYZ Bank chip+PIN Credit Cards offer enhanced security and convenience. So, even if you forget your XYZ Bank Credit Card PIN, you can change it through different methods and within minutes.</p>
            </div>
        </div>

    </div>
</html>
