<div>
    <app-header-details></app-header-details>
</div>
<div class="padding-top-15">
    <div>
        <h3 class="d-flex justify-content-center">Card Status</h3>
    </div>
    <div class="stepper-wrapper padding-top-20">
        <div class="stepper-item completed">
          <div class="step-counter">1</div>
          <div class="step-name">Submitted</div>
        </div>
        <div class="stepper-item completed">
          <div class="step-counter">2</div>
          <div class="step-name">Reviewed</div>
        </div>
        <div class="stepper-item active">
          <div class="step-counter">3</div>
          <div class="step-name">Approved</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter">4</div>
          <div class="step-name">Processed for dispatch</div>
        </div>
      </div>
</div>
