<!DOCTYPE html>
<html>
<body class="container-fluid">
    <app-header-details></app-header-details>
    <div class="card-details" >
        <h3 class="d-flex justify-content-center">Best credit card deals</h3>
    </div>

     <div class="row justify-content-center">
        <div class="col-lg-2 col-md-4 m-1 card-hover">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/credit-card-icon-vector.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Platinum Card</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
    
                </div>
            </div>
        </div>
    
        <div class="col-lg-2 col-md-4 m-1 card-hover">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/card3.png" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gold Card</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
    
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 m-1 card-hover">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/credit-card-icon-vector.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Silver Card</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
    
                </div>
            </div>
        </div>
    
        <div class="col-lg-2 col-md-4 m-1 card-hover">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="../../../../assets/card3.png" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Master Card</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                    </p>
    
                </div>
            </div>
        </div>
    
    </div>

    <div class="d-flex justify-content-center padding-top-20">
        <h6>Click on "Get Credit card now" button to get your card processed!!</h6>
    </div>

    <div class="card-button body-back">
        <button type="button" class="btn btn-success btn-lg justify-content-center" aria-pressed="true" (click)="getCustomerDetails()">Get credit card now!!</button>
    </div>
</body>
</html>