@import "../../../../styles.scss";

.width-30 {
    max-width: 30%;
}

.invalid-feedback-dropdown {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}